* {
  padding: 0 !;
  margin: 0;
}

.chartName {
  margin-bottom: 10px;
  text-align: center;
}

.card-columns {
  column-count: 3;
}

.width {
  width: 1000px;
}

.page-body {
  padding: 0 5;
}

.graphCard {
  object-fit: scale-down;
  padding: 15px;
}

.page-body {
  padding: 10px !important;
}

#graphs {
  justify-content: space-evenly;
}

.statCard {
  padding: 15px;
  margin: 5px;
}

.headSpace {
  padding-top: 10px;
}

.justify {
  justify-content: space-between;
}
.center {
  margin: auto;
  text-align: center;
}
.card-header .header {
  display: none;
}
