.paginate {
  margin: auto;
}

.outer-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: none;
  background: transparent;
  overflow: hidden;
  border-radius: 0;
  outline: none;
  padding: 0;
}
.outer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 1000;
}
.outer-animation {
  transition: opacity 300ms ease 0s;
  animation-duration: 300ms;
  animation-direction: reverse;
}
.transform {
  transform: scale(1.5);
}
.img-thumbnail {
  object-fit: cover;
}
